# Private Key specific
CKA_SIGN = true
CKA_DECRYPT = true
CKA_DERIVE = true
CKA_UNWRAP = true
CKA_SENSITIVE = true
CKA_ALWAYS_SENSITIVE = true
CKA_EXTRACTABLE = false
CKA_NEVER_EXTRACTABLE = true

# Public Key specific
CKA_VERIFY = true
CKA_ENCRYPT = true
CKA_DERIVE = true
CKA_WRAP = true
